com.company.hetuo_Android/assets/www/iweb_mall_0.9.8_ft/plugins/Actions.dtd

<!ELEMENT actions (package+)>
<!ELEMENT package (action+)>
<!ELEMENT action (return+)>
<!ELEMENT return (#PCDATA)>
<!ATTLIST package name CDATA #REQUIRED>
<!ATTLIST action name CDATA #REQUIRED  file CDATA #REQUIRED class CDATA #IMPLIED method CDATA #REQUIRED >
<!ATTLIST return name CDATA #REQUIRED  > 